/**
 * @file
 * OA Burr panel layout
**/

.burr-container {
  margin-bottom:0;
}

.burr-sidebar {
  width: 34.043%;
  float: left;
}

  .burr-sidebar-inner {
    margin-right: 20px;
  }

.burr-content {
  float: left;
  width: 65.957%;
}

@include breakpoint(medium) {
  .burr-content,
  .burr-sidebar {
    width: 100%;
    float: none;
  }
  
  .burr-sidebar-inner {
    margin-right: 0;
  }
}
