/**
 * @file
 * OA Phelan panel layout
**/

.phelan-container {
  margin-bottom:0;
}

.phelan-column {
  width: 51.064%;
  float: left;
}

.phelan-column1-inner {
  margin-right: 20px;
}

.phelan-column2 {
  width: 48.936%;
}
  
@include breakpoint(medium) {
  .phelan-column,
  .phelan-column2 {
    width: 100%;
    float: none;
  }
  
  .phelan-column1-inner {
    margin-right: 0;
  }
}
