/**
 * @file
 * OA Sutro panel layout
**/

.sutro-container {
  margin-bottom:0;
}
.sutro-column {
  width: 50%;
  float: left;
  .sutro-column1-inner { margin-right: 20px; }
  .sutro-column2-inner { margin-left: 20px; }

}
@include breakpoint(medium) {
  .sutro-column,
  .sutro-column2 {
    width: 100%;
    float: none;
  }
  .sutro-column .sutro-column1-inner,
  .sutro-column-inner {
    margin-right: 0;
  }
  .sutro-column .sutro-column2-inner {
    margin-left: 0;
  }
}