/* UCSF School of Medicine tweaks
**************************************/

/* leadership grid 
**************************************/
.leadership-grid * {
  width: 135px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.leadership-grid .views-row , .leadership-grid li, .leadership-grid  td {
  text-align: center;
  background-color: #F2F2ED;
  width: 135px;
  padding: 15px 15px 35px 15px;
  padding-bottom: ;
  
}


.leadership-grid td  .field-type-image {
  border: 1px solid #CCC;
  width: 137px;

}

.leadership-grid td  img {
  margin: 0;
  padding: 0;
  border: 12px solid #FFF;
  border-radius: 4px;
}

.leadership-grid .view-filters * {
  xxwidth: 100%;
}	

.leadership-grid .view-filters {
  xxbackground-color: #F2F2ED;
  width: 100%;
  padding: 15px 20px 15px 15px;
  margin: 0 0 20px 0;
}

