$calendar-text: $secondary-text;

// inherit base text color
$calendar-frame-color: #888888; // formerly #C9C9C9 and #b0bc22;

// Header

// Cells
$calendar-cell: #FFF;
$calendar-cell-empty: #E9E9E9; // formerly #ebeae6;
$calendar-cell-days: #b2b2b2; // formerly #666;
$calendar-cell-days-text: #FFF;

// today
$calendar-today-text: #333;
$calendar-today-background: #FFF;

// Has Events
$calendar-cell-has-events: #FFF;
$calendar-cell-has-events-hover: #EBE9E3;

/**
 * This is for the mini calendar
 */
.view-display-id-monthly_mini_calendar {
  background: $calendar-frame-color;
  padding: 0 1px 0 1px;
}

table.mini .mini-day-on a {
    display: block;
    height: 39px;
    line-height: 39px;
}

/** mini cal header **/
.view .view-header .date-nav-wrapper {
  margin: 0;
  background: $calendar-frame-color;
}

.view .date-nav-wrapper .date-nav {
  margin: 0;
  padding: 0;
}

.view .date-nav-wrapper .date-heading {
  float: none;
}

.view .date-nav-wrapper ul.pager {
  margin: 0;
}

.item-list .date-heading .pager li {
  padding: 0;
  margin: 0;
}

.view .date-nav-wrapper ul.pager li.date-prev,
.view .date-nav-wrapper ul.pager li.date-next {
  float: left;
  position: relative;
  margin: 10px 20px 0;
  right: 0;
  top: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: 0;
  width: 10px;
  height: 11px;
  background-image: url(../images/mini-calendar-navigation.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.view .date-nav-wrapper ul.pager li.date-next {
  background-position: right top;
}

.view .date-nav-wrapper ul.pager li.date-prev a,
.view .date-nav-wrapper ul.pager li.date-next a {
  text-align: left;
  text-indent: -9999em;
  overflow: hidden;
  display: block;
  height: 11px;
  width: 10px;
  margin: 0;
  position: absolute;
  top: 0;
}

.view .date-nav-wrapper li.date-title {
  width: 100%;
}

.view .date-nav-wrapper .date-heading li.date-title h3 {
  color:#fff;
  font-size: 1em;
  line-height: 1em;
  padding-top: .7em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1em;
}

.view .date-nav-wrapper li.date-title a {
  color: #fff;
  padding: 1em 0 0 0;
  // font: bold 1.429em/1.35em $base-font;
}

.view .date-nav-wrapper ul.pager li.date-next {
  float: right;
}

/** mini cal table header **/
.calendar-calendar th.days {
  background: $calendar-cell-days;
  border: none;
  color: $calendar-cell-days-text;
  text-transform: lowercase;
  font-weight: normal;
}

table.mini td.mini,
table.mini th.mini,
table.mini td.week {
  padding: 0;
}

.calendar-calendar .month-view table.mini {
  border-collapse: collapse;
  color: $calendar-frame-color;
}

.calendar-calendar table.mini td {
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid $calendar-frame-color;
  border-bottom: 1px solid $calendar-frame-color;
  color: $calendar-text;
  // font: normal 1.429em/1.35em $base-font;
  height: 39px;
}

.calendar-calendar table tr td.today,
.calendar-calendar table tr.odd td.today,
.calendar-calendar table tr.even td.today {
  color: $calendar-today-text;
  background: $calendar-today-background;
  font-weight: bold;
  a {
    font-weight: bold;
  }
}

.calendar-calendar table.mini td.empty {
  background: $calendar-cell-empty;
  border-color: $calendar-frame-color;
}

.calendar-calendar table.mini td.has-events {
  background: $calendar-cell-has-events;
}

.calendar-calendar table.mini td.has-events a,
.calendar-calendar table.mini td.has-events a:hover,
.calendar-calendar table.mini td.has-events a:active {
  color: #0059b3; // #0059b3 or #333 (default)
  text-decoration: none;
}

.calendar-calendar table.mini td.has-events:hover {
  background-color: $calendar-cell-has-events-hover;
}

/**
 * This is for the full calendar
 */

/**
 * This is for the office hours plugin
 */
