/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

// IE 10+ no longer support conditional comments, and sniffers or hacks must be used instead. -K

@font-face {
  font-family: PrefaceLightItalic;
  src: url("../webfonts/preface-light-italic/PREFLI__Web.eot");
}
@font-face {
  font-family: PrefaceItalic;
  src: url("../webfonts/preface-italic/PREFI___Web.eot");
}
@font-face {
  font-family: PrefaceBoldItalic;
  src: url("../webfonts/preface-bold-italic/PREFBI__Web.eot");
}

.media a.media-video-preview:after { // let's hide that positioned content for IE (remember IE8 doesn't support "::after") - Kevin 06/30/2014
	content: "";
}
