/* line 40, ../scss/modules/_breakpoints.scss */
.wrap {
  content: "";
  display: table;
  margin: 0 auto;
  position: relative;
  width: 92%;
  zoom: 1; }
  @media all and (min-width: 768px) {
    /* line 40, ../scss/modules/_breakpoints.scss */
    .wrap {
      width: 750px; } }
  @media all and (min-width: 980px) {
    /* line 40, ../scss/modules/_breakpoints.scss */
    .wrap {
      width: 960px; } }
  @media all and (min-width: 1200px) {
    /* line 40, ../scss/modules/_breakpoints.scss */
    .wrap {
      width: 1170px; } }

/* global resets - HTML 5
**************************************/
/* line 3, ../scss/vendor/_reset.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* line 4, ../scss/vendor/_reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

/* line 5, ../scss/vendor/_reset.scss */
ol, ul {
  list-style: none; }

/* line 6, ../scss/vendor/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 7, ../scss/vendor/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 8, ../scss/vendor/_reset.scss */
input, select {
  vertical-align: middle; }

/* hand cursor on clickable elements */
/* line 10, ../scss/vendor/_reset.scss */
.clickable, label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
/* line 12, ../scss/vendor/_reset.scss */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
/* line 14, ../scss/vendor/_reset.scss */
button {
  width: auto;
  overflow: visible; }

/*!
 * Bootstrap v2.2.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
/* line 10, ../scss/vendor/_bootstrap.scss */
.clearfix {
  *zoom: 1; }

/* line 10, ../scss/vendor/_bootstrap.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0; }

/* line 11, ../scss/vendor/_bootstrap.scss */
.clearfix:after {
  clear: both; }

/* line 12, ../scss/vendor/_bootstrap.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

/* line 13, ../scss/vendor/_bootstrap.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 14, ../scss/vendor/_bootstrap.scss */
.row {
  margin-left: -20px;
  *zoom: 1; }

/* line 14, ../scss/vendor/_bootstrap.scss */
.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0; }

/* line 15, ../scss/vendor/_bootstrap.scss */
.row:after {
  clear: both; }

/* line 16, ../scss/vendor/_bootstrap.scss */
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px; }

/* line 17, ../scss/vendor/_bootstrap.scss */
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 940px; }

/* line 18, ../scss/vendor/_bootstrap.scss */
.span12 {
  width: 940px; }

/* line 19, ../scss/vendor/_bootstrap.scss */
.span11 {
  width: 860px; }

/* line 20, ../scss/vendor/_bootstrap.scss */
.span10 {
  width: 780px; }

/* line 21, ../scss/vendor/_bootstrap.scss */
.span9 {
  width: 700px; }

/* line 22, ../scss/vendor/_bootstrap.scss */
.span8 {
  width: 620px; }

/* line 23, ../scss/vendor/_bootstrap.scss */
.span7 {
  width: 540px; }

/* line 24, ../scss/vendor/_bootstrap.scss */
.span6 {
  width: 460px; }

/* line 25, ../scss/vendor/_bootstrap.scss */
.span5 {
  width: 380px; }

/* line 26, ../scss/vendor/_bootstrap.scss */
.span4 {
  width: 300px; }

/* line 27, ../scss/vendor/_bootstrap.scss */
.span3 {
  width: 220px; }

/* line 28, ../scss/vendor/_bootstrap.scss */
.span2 {
  width: 140px; }

/* line 29, ../scss/vendor/_bootstrap.scss */
.span1 {
  width: 60px; }

/* line 30, ../scss/vendor/_bootstrap.scss */
.offset12 {
  margin-left: 980px; }

/* line 31, ../scss/vendor/_bootstrap.scss */
.offset11 {
  margin-left: 900px; }

/* line 32, ../scss/vendor/_bootstrap.scss */
.offset10 {
  margin-left: 820px; }

/* line 33, ../scss/vendor/_bootstrap.scss */
.offset9 {
  margin-left: 740px; }

/* line 34, ../scss/vendor/_bootstrap.scss */
.offset8 {
  margin-left: 660px; }

/* line 35, ../scss/vendor/_bootstrap.scss */
.offset7 {
  margin-left: 580px; }

/* line 36, ../scss/vendor/_bootstrap.scss */
.offset6 {
  margin-left: 500px; }

/* line 37, ../scss/vendor/_bootstrap.scss */
.offset5 {
  margin-left: 420px; }

/* line 38, ../scss/vendor/_bootstrap.scss */
.offset4 {
  margin-left: 340px; }

/* line 39, ../scss/vendor/_bootstrap.scss */
.offset3 {
  margin-left: 260px; }

/* line 40, ../scss/vendor/_bootstrap.scss */
.offset2 {
  margin-left: 180px; }

/* line 41, ../scss/vendor/_bootstrap.scss */
.offset1 {
  margin-left: 100px; }

/* line 42, ../scss/vendor/_bootstrap.scss */
.row-fluid {
  width: 100%;
  *zoom: 1; }

/* line 42, ../scss/vendor/_bootstrap.scss */
.row-fluid:before, .row-fluid:after {
  display: table;
  content: "";
  line-height: 0; }

/* line 43, ../scss/vendor/_bootstrap.scss */
.row-fluid:after {
  clear: both; }

/* line 44, ../scss/vendor/_bootstrap.scss */
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%; }

/* line 45, ../scss/vendor/_bootstrap.scss */
.row-fluid [class*="span"]:first-child {
  margin-left: 0; }

/* line 46, ../scss/vendor/_bootstrap.scss */
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%; }

/* line 47, ../scss/vendor/_bootstrap.scss */
.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%; }

/* line 48, ../scss/vendor/_bootstrap.scss */
.row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%; }

/* line 49, ../scss/vendor/_bootstrap.scss */
.row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%; }

/* line 50, ../scss/vendor/_bootstrap.scss */
.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%; }

/* line 51, ../scss/vendor/_bootstrap.scss */
.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%; }

/* line 52, ../scss/vendor/_bootstrap.scss */
.row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%; }

/* line 53, ../scss/vendor/_bootstrap.scss */
.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%; }

/* line 54, ../scss/vendor/_bootstrap.scss */
.row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%; }

/* line 55, ../scss/vendor/_bootstrap.scss */
.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%; }

/* line 56, ../scss/vendor/_bootstrap.scss */
.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%; }

/* line 57, ../scss/vendor/_bootstrap.scss */
.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%; }

/* line 58, ../scss/vendor/_bootstrap.scss */
.row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%; }

/* line 59, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%; }

/* line 60, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset12:first-child {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%; }

/* line 61, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%; }

/* line 62, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset11:first-child {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%; }

/* line 63, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%; }

/* line 64, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset10:first-child {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%; }

/* line 65, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%; }

/* line 66, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset9:first-child {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%; }

/* line 67, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%; }

/* line 68, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset8:first-child {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%; }

/* line 69, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%; }

/* line 70, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset7:first-child {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%; }

/* line 71, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%; }

/* line 72, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset6:first-child {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%; }

/* line 73, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%; }

/* line 74, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset5:first-child {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%; }

/* line 75, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%; }

/* line 76, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset4:first-child {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%; }

/* line 77, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%; }

/* line 78, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset3:first-child {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%; }

/* line 79, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%; }

/* line 80, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset2:first-child {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%; }

/* line 81, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%; }

/* line 82, ../scss/vendor/_bootstrap.scss */
.row-fluid .offset1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%; }

/* line 83, ../scss/vendor/_bootstrap.scss */
[class*="span"].hide, .row-fluid [class*="span"].hide {
  display: none; }

/* line 84, ../scss/vendor/_bootstrap.scss */
[class*="span"].pull-right, .row-fluid [class*="span"].pull-right {
  float: right; }

/* line 85, ../scss/vendor/_bootstrap.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1; }

/* line 85, ../scss/vendor/_bootstrap.scss */
.container:before, .container:after {
  display: table;
  content: "";
  line-height: 0; }

/* line 86, ../scss/vendor/_bootstrap.scss */
.container:after {
  clear: both; }

/* line 87, ../scss/vendor/_bootstrap.scss */
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1; }

/* line 87, ../scss/vendor/_bootstrap.scss */
.container-fluid:before, .container-fluid:after {
  display: table;
  content: "";
  line-height: 0; }

/* line 88, ../scss/vendor/_bootstrap.scss */
.container-fluid:after {
  clear: both; }

@media (max-width: 767px) {
  /* line 89, ../scss/vendor/_bootstrap.scss */
  body {
    padding-left: 20px;
    padding-right: 20px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .container-fluid {
    padding: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .dl-horizontal dt {
    float: none;
    clear: none;
    width: auto;
    text-align: left; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .dl-horizontal dd {
    margin-left: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .container {
    width: auto; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid {
    width: 100%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row, .thumbnails {
    margin-left: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .thumbnails > li {
    float: none;
    margin-left: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span12, .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid [class*="offset"]:first-child {
    margin-left: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .input-large, .input-xlarge, .input-xxlarge, input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .input-prepend input, .input-append input, .input-prepend input[class*="span"], .input-append input[class*="span"] {
    display: inline-block;
    width: auto; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .modal {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    margin: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .modal.fade {
    top: -100px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .modal.fade.in {
    top: 20px; } }
@media (max-width: 480px) {
  /* line 89, ../scss/vendor/_bootstrap.scss */
  .nav-collapse {
    -webkit-transform: translate3d(0, 0, 0); }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .page-header h1 small {
    display: block;
    line-height: 20px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input[type="checkbox"], input[type="radio"] {
    border: 1px solid #ccc; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .form-horizontal .control-label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .form-horizontal .controls {
    margin-left: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .form-horizontal .control-list {
    padding-top: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .media .pull-left, .media .pull-right {
    float: none;
    display: block;
    margin-bottom: 10px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .media-object {
    margin-right: 0;
    margin-left: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .modal {
    top: 10px;
    left: 10px;
    right: 10px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .modal-header .close {
    padding: 10px;
    margin: -10px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .carousel-caption {
    position: static; } }
@media (min-width: 768px) and (max-width: 979px) {
  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row {
    margin-left: -20px;
    *zoom: 1; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row:before, .row:after {
    display: table;
    content: "";
    line-height: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row:after {
    clear: both; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 724px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span12 {
    width: 724px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span11 {
    width: 662px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span10 {
    width: 600px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span9 {
    width: 538px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span8 {
    width: 476px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span7 {
    width: 414px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span6 {
    width: 352px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span5 {
    width: 290px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span4 {
    width: 228px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span3 {
    width: 166px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span2 {
    width: 104px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span1 {
    width: 42px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset12 {
    margin-left: 764px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset11 {
    margin-left: 702px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset10 {
    margin-left: 640px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset9 {
    margin-left: 578px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset8 {
    margin-left: 516px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset7 {
    margin-left: 454px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset6 {
    margin-left: 392px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset5 {
    margin-left: 330px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset4 {
    margin-left: 268px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset3 {
    margin-left: 206px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset2 {
    margin-left: 144px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset1 {
    margin-left: 82px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid {
    width: 100%;
    *zoom: 1; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid:before, .row-fluid:after {
    display: table;
    content: "";
    line-height: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid:after {
    clear: both; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.7624309392265194%;
    *margin-left: 2.709239449864817%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid [class*="span"]:first-child {
    margin-left: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.7624309392265194%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span11 {
    width: 91.43646408839778%;
    *width: 91.38327259903608%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span10 {
    width: 82.87292817679558%;
    *width: 82.81973668743387%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span9 {
    width: 74.30939226519337%;
    *width: 74.25620077583166%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span8 {
    width: 65.74585635359117%;
    *width: 65.69266486422946%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span7 {
    width: 57.18232044198895%;
    *width: 57.12912895262725%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span6 {
    width: 48.61878453038674%;
    *width: 48.56559304102504%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span5 {
    width: 40.05524861878453%;
    *width: 40.00205712942283%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span4 {
    width: 31.491712707182323%;
    *width: 31.43852121782062%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span3 {
    width: 22.92817679558011%;
    *width: 22.87498530621841%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span2 {
    width: 14.3646408839779%;
    *width: 14.311449394616199%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span1 {
    width: 5.801104972375691%;
    *width: 5.747913483013988%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset12 {
    margin-left: 105.52486187845304%;
    *margin-left: 105.41847889972962%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset12:first-child {
    margin-left: 102.76243093922652%;
    *margin-left: 102.6560479605031%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset11 {
    margin-left: 96.96132596685082%;
    *margin-left: 96.8549429881274%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset11:first-child {
    margin-left: 94.1988950276243%;
    *margin-left: 94.09251204890089%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset10 {
    margin-left: 88.39779005524862%;
    *margin-left: 88.2914070765252%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset10:first-child {
    margin-left: 85.6353591160221%;
    *margin-left: 85.52897613729868%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset9 {
    margin-left: 79.8342541436464%;
    *margin-left: 79.72787116492299%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset9:first-child {
    margin-left: 77.07182320441989%;
    *margin-left: 76.96544022569647%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset8 {
    margin-left: 71.2707182320442%;
    *margin-left: 71.16433525332079%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset8:first-child {
    margin-left: 68.50828729281768%;
    *margin-left: 68.40190431409427%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset7 {
    margin-left: 62.70718232044199%;
    *margin-left: 62.600799341718584%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset7:first-child {
    margin-left: 59.94475138121547%;
    *margin-left: 59.838368402492065%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset6 {
    margin-left: 54.14364640883978%;
    *margin-left: 54.037263430116376%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset6:first-child {
    margin-left: 51.38121546961326%;
    *margin-left: 51.27483249088986%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset5 {
    margin-left: 45.58011049723757%;
    *margin-left: 45.47372751851417%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset5:first-child {
    margin-left: 42.81767955801105%;
    *margin-left: 42.71129657928765%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset4 {
    margin-left: 37.01657458563536%;
    *margin-left: 36.91019160691196%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset4:first-child {
    margin-left: 34.25414364640884%;
    *margin-left: 34.14776066768544%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset3 {
    margin-left: 28.45303867403315%;
    *margin-left: 28.346655695309746%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset3:first-child {
    margin-left: 25.69060773480663%;
    *margin-left: 25.584224756083227%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset2 {
    margin-left: 19.88950276243094%;
    *margin-left: 19.783119783707537%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset2:first-child {
    margin-left: 17.12707182320442%;
    *margin-left: 17.02068884448102%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset1 {
    margin-left: 11.32596685082873%;
    *margin-left: 11.219583872105325%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset1:first-child {
    margin-left: 8.56353591160221%;
    *margin-left: 8.457152932878806%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input, textarea, .uneditable-input {
    margin-left: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 20px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 710px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 648px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 586px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 524px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 462px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 400px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 338px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 276px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 214px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 152px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 90px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 28px; } }
@media (min-width: 1200px) {
  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row {
    margin-left: -30px;
    *zoom: 1; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row:before, .row:after {
    display: table;
    content: "";
    line-height: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row:after {
    clear: both; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1170px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span12 {
    width: 1170px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span11 {
    width: 1070px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span10 {
    width: 970px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span9 {
    width: 870px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span8 {
    width: 770px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span7 {
    width: 670px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span6 {
    width: 570px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span5 {
    width: 470px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span4 {
    width: 370px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span3 {
    width: 270px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span2 {
    width: 170px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .span1 {
    width: 70px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset12 {
    margin-left: 1230px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset11 {
    margin-left: 1130px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset10 {
    margin-left: 1030px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset9 {
    margin-left: 930px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset8 {
    margin-left: 830px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset7 {
    margin-left: 730px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset6 {
    margin-left: 630px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset5 {
    margin-left: 530px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset4 {
    margin-left: 430px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset3 {
    margin-left: 330px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset2 {
    margin-left: 230px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .offset1 {
    margin-left: 130px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid {
    width: 100%;
    *zoom: 1; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid:before, .row-fluid:after {
    display: table;
    content: "";
    line-height: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid:after {
    clear: both; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid [class*="span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid [class*="span"]:first-child {
    margin-left: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.564102564102564%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span11 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .span1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset12 {
    margin-left: 105.12820512820512%;
    *margin-left: 105.02182214948171%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset12:first-child {
    margin-left: 102.56410256410257%;
    *margin-left: 102.45771958537915%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset11 {
    margin-left: 96.58119658119658%;
    *margin-left: 96.47481360247316%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset11:first-child {
    margin-left: 94.01709401709402%;
    *margin-left: 93.91071103837061%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset10 {
    margin-left: 88.03418803418803%;
    *margin-left: 87.92780505546462%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset10:first-child {
    margin-left: 85.47008547008548%;
    *margin-left: 85.36370249136206%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset9 {
    margin-left: 79.48717948717949%;
    *margin-left: 79.38079650845607%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset9:first-child {
    margin-left: 76.92307692307693%;
    *margin-left: 76.81669394435352%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset8 {
    margin-left: 70.94017094017094%;
    *margin-left: 70.83378796144753%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset8:first-child {
    margin-left: 68.37606837606839%;
    *margin-left: 68.26968539734497%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset7 {
    margin-left: 62.393162393162385%;
    *margin-left: 62.28677941443899%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset7:first-child {
    margin-left: 59.82905982905982%;
    *margin-left: 59.72267685033642%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset6 {
    margin-left: 53.84615384615384%;
    *margin-left: 53.739770867430444%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset6:first-child {
    margin-left: 51.28205128205128%;
    *margin-left: 51.175668303327875%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset5 {
    margin-left: 45.299145299145295%;
    *margin-left: 45.1927623204219%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset5:first-child {
    margin-left: 42.73504273504273%;
    *margin-left: 42.62865975631933%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset4 {
    margin-left: 36.75213675213675%;
    *margin-left: 36.645753773413354%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset4:first-child {
    margin-left: 34.18803418803419%;
    *margin-left: 34.081651209310785%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset3 {
    margin-left: 28.205128205128204%;
    *margin-left: 28.0987452264048%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset3:first-child {
    margin-left: 25.641025641025642%;
    *margin-left: 25.53464266230224%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset2 {
    margin-left: 19.65811965811966%;
    *margin-left: 19.551736679396257%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset2:first-child {
    margin-left: 17.094017094017094%;
    *margin-left: 16.98763411529369%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset1 {
    margin-left: 11.11111111111111%;
    *margin-left: 11.004728132387708%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .offset1:first-child {
    margin-left: 8.547008547008547%;
    *margin-left: 8.440625568285142%; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input, textarea, .uneditable-input {
    margin-left: 0; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 30px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span12, textarea.span12, .uneditable-input.span12 {
    width: 1156px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span11, textarea.span11, .uneditable-input.span11 {
    width: 1056px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span10, textarea.span10, .uneditable-input.span10 {
    width: 956px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span9, textarea.span9, .uneditable-input.span9 {
    width: 856px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span8, textarea.span8, .uneditable-input.span8 {
    width: 756px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span7, textarea.span7, .uneditable-input.span7 {
    width: 656px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span6, textarea.span6, .uneditable-input.span6 {
    width: 556px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span5, textarea.span5, .uneditable-input.span5 {
    width: 456px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span4, textarea.span4, .uneditable-input.span4 {
    width: 356px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span3, textarea.span3, .uneditable-input.span3 {
    width: 256px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span2, textarea.span2, .uneditable-input.span2 {
    width: 156px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  input.span1, textarea.span1, .uneditable-input.span1 {
    width: 56px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .thumbnails {
    margin-left: -30px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .thumbnails > li {
    margin-left: 30px; }

  /* line 89, ../scss/vendor/_bootstrap.scss */
  .row-fluid .thumbnails {
    margin-left: 0; } }
/*!
 * Bootstrap v2.2.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
/* line 10, ../scss/partials/_responsive.scss */
.row-fluid {
  width: 100%;
  *zoom: 1; }

/* line 14, ../scss/partials/_responsive.scss */
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0; }

/* line 20, ../scss/partials/_responsive.scss */
.row-fluid:after {
  clear: both; }

/* line 23, ../scss/partials/_responsive.scss */
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1; }

/* line 28, ../scss/partials/_responsive.scss */
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
  line-height: 0; }

/* line 34, ../scss/partials/_responsive.scss */
.container-fluid:after {
  clear: both; }

/* Imports */
/* Variables */
/* Base Styles */
/* line 12, ../scss/partials/_base.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll; }

/* line 18, ../scss/partials/_base.scss */
body {
  font: 100%/1.6 Verdana, Arial, Helvetica, sans-serif;
  color: #333; }

/* line 23, ../scss/partials/_base.scss */
code, var, kbd, samp, tt, dir, listing, plaintext, xmp, abbr, acronym, blockquote, q {
  hyphens: none; }

/* line 27, ../scss/partials/_base.scss */
a, a:link, a:visited {
  text-decoration: none; }

/* line 31, ../scss/partials/_base.scss */
a:hover {
  text-decoration: underline; }

/* line 35, ../scss/partials/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

/* line 39, ../scss/partials/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #deb408;
  margin: 2em 0;
  padding: 0;
  clear: both; }

/* line 49, ../scss/partials/_base.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/* line 55, ../scss/partials/_base.scss */
li {
  margin-bottom: 10px; }

/* line 59, ../scss/partials/_base.scss */
p, ol, li {
  font-size: .875em;
  margin-bottom: 10px; }

/* line 64, ../scss/partials/_base.scss */
a {
  color: #3181ab; }

/* line 71, ../scss/partials/_base.scss */
h2 {
  font-size: 1.4em;
  color: #18989B;
  margin-bottom: 10px; }

/* line 77, ../scss/partials/_base.scss */
.midcol h3 {
  color: #333;
  margin-bottom: 10px;
  font-size: 1.1em; }

/* line 83, ../scss/partials/_base.scss */
#admin-menu .dropdown li {
  font-size: 1em; }

/* line 87, ../scss/partials/_base.scss */
.page-wrapper {
  max-width: 1080px;
  margin: 0 auto; }

/* line 1, ../scss/partials/_layout.scss */
.masthead {
  width: 100%; }

/* line 5, ../scss/partials/_layout.scss */
.content-wrapper {
  content: "";
  display: table;
  width: 100%; }

/* line 10, ../scss/partials/_layout.scss */
.leftcol {
  width: 22.91667%;
  float: left;
  margin-right: -100%;
  margin-left: 1.04167%;
  clear: none;
  margin-left: 0; }

/* line 15, ../scss/partials/_layout.scss */
.midcol {
  width: 47.91667%;
  float: left;
  margin-right: -100%;
  margin-left: 26.04167%;
  clear: none; }

/* line 19, ../scss/partials/_layout.scss */
.region-rightcol {
  width: 22.91667%;
  float: right;
  margin-left: 0;
  margin-right: 1.04167%;
  clear: none;
  margin-right: 0; }

/* line 1, ../scss/partials/_login.scss */
.subscribe-cont {
  background: #214883;
  float: left;
  padding: .3125em 0;
  width: 100%; }

/* line 8, ../scss/partials/_login.scss */
.banner {
  margin-bottom: 30px; }

/* line 12, ../scss/partials/_login.scss */
.banner img {
  width: 100%;
  height: auto; }

/* line 17, ../scss/partials/_login.scss */
.subscribe-cont a {
  color: #fff; }

/* line 21, ../scss/partials/_login.scss */
.insight {
  float: left;
  margin-left: 20px; }

/* line 26, ../scss/partials/_login.scss */
.region-subscribe-login .block-menu {
  margin-right: 30px;
  float: right; }

/* line 31, ../scss/partials/_login.scss */
.region-subscribe-login a {
  margin-left: 40px; }

/* line 35, ../scss/partials/_login.scss */
.region-subscribe-login li {
  margin-bottom: 0;
  font-size: .875em; }

/* line 40, ../scss/partials/_login.scss */
.region-subscribe-login p {
  margin-bottom: 0; }

/* UCSF Navigation */
/* line 3, ../scss/partials/_top-header.scss */
.ucsf-nav {
  margin: 0;
  padding: .3125em 0 .3125em 2em;
  background: #888; }

/* line 9, ../scss/partials/_top-header.scss */
#block-menu-menu-ucsf-navigation ul {
  font-size: .6875em; }

/* line 13, ../scss/partials/_top-header.scss */
#block-menu-menu-ucsf-navigation ul li {
  margin: 0;
  padding: 0 0.9375em;
  display: inline;
  border-right: 1px solid #fff; }

/* line 20, ../scss/partials/_top-header.scss */
#block-menu-menu-ucsf-navigation ul li.last {
  border-right: none; }

/* line 24, ../scss/partials/_top-header.scss */
#block-menu-menu-ucsf-navigation ul li a {
  color: #eee; }

/* line 1, ../scss/partials/_masthead.scss */
.masthead {
  margin-bottom: 15px;
  content: "";
  display: table;
  margin: 15px 0px 15px 0; }
  /* line 5, ../scss/partials/_masthead.scss */
  .masthead h1.site-name {
    float: left; }

/* line 10, ../scss/partials/_masthead.scss */
.site-name img {
  float: left; }

/* line 14, ../scss/partials/_masthead.scss */
#search-block-form {
  width: 380px;
  background: #e5e5e5;
  padding: 3px 5px 5px 5px;
  float: right;
  margin-top: 60px; }

/* line 22, ../scss/partials/_masthead.scss */
.ie7 .search-block-form {
  width: 390px; }

/* line 26, ../scss/partials/_masthead.scss */
.block-search .form-text {
  border: none;
  padding: 5px;
  width: 300px; }

/* line 32, ../scss/partials/_masthead.scss */
.block-search .form-submit {
  background: #e5e5e5;
  border: none;
  color: #666666;
  font-family: verdana;
  font-size: 0.875em;
  font-weight: bold; }

/* line 41, ../scss/partials/_masthead.scss */
.block-search .container-inline .form-actions {
  float: right;
  /*margin-top:-28px;*/
  position: absolute; }

/* line 48, ../scss/partials/_masthead.scss */
.ie .block-search .container-inline .form-actions {
  margin-top: 0; }

/* line 52, ../scss/partials/_masthead.scss */
label.option {
  font-size: 13px; }

/* line 1, ../scss/partials/_main-menu.scss */
.region-leftcol .block-menu {
  margin-bottom: 30px; }

/* line 5, ../scss/partials/_main-menu.scss */
.region-leftcol .block-menu li {
  margin-bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0; }
  /* line 10, ../scss/partials/_main-menu.scss */
  .region-leftcol .block-menu li ul > li {
    margin: 0;
    padding: 0; }

/* line 17, ../scss/partials/_main-menu.scss */
.region-leftcol .menu .expanded a ul li a,
.region-leftcol .menu .collapsed a ul li a {
  background: none; }

/* line 22, ../scss/partials/_main-menu.scss */
.region-leftcol .menu a {
  color: #333;
  display: block;
  padding: 5px 0 5px 20px;
  background: #e5e5e5;
  border-top: 2px solid #fff; }

/* line 30, ../scss/partials/_main-menu.scss */
.region-leftcol .menu .collapsed a {
  background: #efefef url(../images/closed.png) center left no-repeat; }

/* line 34, ../scss/partials/_main-menu.scss */
.region-leftcol .menu .expanded a {
  background: #efefef url(../images/open.png) center left no-repeat; }

/* line 38, ../scss/partials/_main-menu.scss */
.region-leftcol .menu .expanded ul li a,
.region-leftcol .menu .collapsed ul li a {
  background-image: none;
  padding-left: 30px; }

/* line 44, ../scss/partials/_main-menu.scss */
.toggle-menu {
  display: none; }

/* line 1, ../scss/partials/_main-content.scss */
.container-fluid {
  max-width: 1080px;
  margin: 0 auto; }

/* line 6, ../scss/partials/_main-content.scss */
.ie7 .container-fluid {
  width: 1080px; }

/* line 10, ../scss/partials/_main-content.scss */
.region-leftcol h2, .region-rightcol h2, .region-rightcol h2 {
  color: #333;
  padding: 5px 10px;
  background: #6766a3;
  margin-bottom: 0;
  color: #fff;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

/* line 24, ../scss/partials/_main-content.scss */
.region-rightcol #block-block-4 h2 {
  background: #6766a3;
  color: #fff; }

/* line 29, ../scss/partials/_main-content.scss */
.region-rightcol .block-block, .region-rightcol .block-views {
  margin-bottom: 30px; }

/* line 33, ../scss/partials/_main-content.scss */
.region-rightcol .block-block .content,
.view-apex-chatter-feed,
.view-most-viewed-content {
  background: #efefef;
  padding: 10px;
  border-top: 2px solid #fff; }

/* line 41, ../scss/partials/_main-content.scss */
.view-apex-chatter-feed .views-field-title {
  font-size: .875em; }

/* line 45, ../scss/partials/_main-content.scss */
.view-most-viewed-content .views-row {
  margin-bottom: 10px;
  font-size: .875em; }

/* line 50, ../scss/partials/_main-content.scss */
.views-field-totalcount {
  color: #666; }

/* line 54, ../scss/partials/_main-content.scss */
.region-content .item-list ul li,
.view-what-do-you-need-contentview-id-what_do_you_need_content .item-list ul li {
  margin-bottom: 1em; }

/* line 59, ../scss/partials/_main-content.scss */
.region-content .item-list ul,
.view-what-do-you-need-contentview-id-what_do_you_need_content .item-list ul {
  list-style: disc; }

/* line 64, ../scss/partials/_main-content.scss */
.region-leftcol li {
  font-size: .75em; }

/* line 68, ../scss/partials/_main-content.scss */
.region-leftcol li ul li {
  font-size: 1em; }

/* line 1, ../scss/partials/_pagination.scss */
.item-list .pager {
  padding: 20px 0;
  text-align: right; }

/* line 6, ../scss/partials/_pagination.scss */
.item-list ul.pager li {
  display: inline;
  margin-left: 10px;
  border: 1px solid #999;
  padding: 2px 4px;
  list-style: none;
  background: none; }

/* line 15, ../scss/partials/_pagination.scss */
.pager li a {
  color: #999; }

/* line 19, ../scss/partials/_pagination.scss */
.item-list .pager li.pager-current {
  border: none; }

/* line 1, ../scss/partials/_footer.scss */
.footer {
  clear: both;
  padding: 1.875em 0;
  text-align: center;
  background: #454040;
  margin-top: 6.25em; }

/* line 9, ../scss/partials/_footer.scss */
.footer p {
  color: #fff; }

/* search results */
/* line 3, ../scss/partials/_search-results.scss */
.search-results .search-snippet-info {
  padding-left: 0; }

/* line 7, ../scss/partials/_search-results.scss */
.midcol .search-results h3.title {
  margin-bottom: 0; }

/* line 11, ../scss/partials/_search-results.scss */
#block-block-16 {
  padding: 10px;
  background: #efefef; }

/* line 16, ../scss/partials/_search-results.scss */
#block-block-16 p {
  font-size: .75em; }

/* line 20, ../scss/partials/_search-results.scss */
.search-form input.form-text {
  font-size: 1em;
  height: 20px; }

/* search results - hide a couple things */
/* line 27, ../scss/partials/_search-results.scss */
.search-snippet span, .search-info {
  display: none; }

/**
 * Markup generated by theme_menu_local_tasks().
 */
/* line 4, ../scss/partials/_system-menus.scss */
ul.primary {
  border-bottom: 1px solid #bbb;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  padding: 0 0 0 1em;
  /* LTR */
  white-space: nowrap; }

/* line 14, ../scss/partials/_system-menus.scss */
ul.primary li {
  display: inline; }

/* line 17, ../scss/partials/_system-menus.scss */
ul.primary li a {
  background-color: #ddd;
  border-color: #bbb;
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em;
  /* LTR */
  padding: 0 1em;
  text-decoration: none; }

/* line 27, ../scss/partials/_system-menus.scss */
ul.primary li.active a {
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff; }

/* line 32, ../scss/partials/_system-menus.scss */
ul.primary li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee; }

/* line 37, ../scss/partials/_system-menus.scss */
ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em;
  margin: 5px; }

/* line 42, ../scss/partials/_system-menus.scss */
ul.secondary li {
  border-right: 1px solid #ccc;
  /* LTR */
  display: inline;
  padding: 0 1em; }

/* line 47, ../scss/partials/_system-menus.scss */
ul.secondary a {
  padding: 0;
  text-decoration: none; }

/* line 51, ../scss/partials/_system-menus.scss */
ul.secondary a.active {
  border-bottom: 4px solid #999; }

/* line 2, ../scss/partials/_update-blog.scss */
.node-type-update-blog-page .midcol {
  width: 72.91667%;
  float: left;
  margin-right: -100%;
  margin-left: 1.04167%;
  clear: none;
  margin-left: 0; }

/* five star voting */
/* line 3, ../scss/partials/_others.scss */
.field-name-field-five-star-vote {
  margin: 20px 0; }

/* line 10, ../scss/partials/_others.scss */
.field-type-taxonomy-term-reference select {
  height: 400px; }

/* media editor styles */
/* line 16, ../scss/partials/_others.scss */
.media-widget a {
  margin-rigth: 15px; }

/* Dashboard */
/* line 22, ../scss/partials/_others.scss */
.views-label-field-tags, .views-label-field-what-do-you-need-tags {
  font-weight: bold; }

/* line 26, ../scss/partials/_others.scss */
.views-field-field-what-do-you-need-tags, .views-field-field-tags {
  margin-top: 10px; }

/* line 30, ../scss/partials/_others.scss */
.view-content-and-tags-list .views-row {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc; }

/* footer */
/* line 38, ../scss/partials/_others.scss */
.footer {
  clear: both;
  padding: 1.875em 0;
  text-align: center;
  background: #454040;
  margin-top: 6.25em; }

/* line 46, ../scss/partials/_others.scss */
.footer p {
  color: #fff; }

/* Media Queries */
@media all and (max-width: 767px) {
  /* line 53, ../scss/partials/_others.scss */
  .region-search-form, #block-menu-menu-ucsf-navigation ul li {
    display: none; }

  /* line 57, ../scss/partials/_others.scss */
  #block-menu-menu-ucsf-navigation ul li.first {
    display: inline;
    border-right: none; }

  /* line 62, ../scss/partials/_others.scss */
  .masthead {
    background: none;
    height: auto; }

  /* line 67, ../scss/partials/_others.scss */
  .subscribe-cont {
    display: none; }

  /* line 71, ../scss/partials/_others.scss */
  h1.sitename {
    padding: 10px 0; }

  /* line 75, ../scss/partials/_others.scss */
  .insight {
    margin-right: 50px; }

  /* line 79, ../scss/partials/_others.scss */
  .region-leftcol {
    display: none; }

  /* line 83, ../scss/partials/_others.scss */
  .toggle-menu {
    padding: 10px;
    background: #bdc163;
    display: block;
    border-bottom: 2px solid #fff; }

  /* line 90, ../scss/partials/_others.scss */
  .toggle-menu:hover {
    cursor: pointer; } }
/* update blog */
/* line 97, ../scss/partials/_others.scss */
.node-type-update-blog-page div.leftcol {
  display: none; }
