.subscribe-cont {
    background: #214883;
    float: left;
    padding: .3125em 0;
    width: 100%;
}

.banner {
    margin-bottom: 30px;
}

.banner img {
    width: 100%;
    height: auto;
}

.subscribe-cont a {
    color: #fff;
}

.insight {
    float: left;
    margin-left: 20px;
}

.region-subscribe-login .block-menu {
    margin-right: 30px;
    float: right;
}

.region-subscribe-login a {
    margin-left: 40px;
}

.region-subscribe-login li {
    margin-bottom: 0;
    font-size: .875em;
}

.region-subscribe-login p {
    margin-bottom: 0;
}
