/* five star voting */

.field-name-field-five-star-vote {
    margin: 20px 0;
}


//set height for tags select list when editing

.field-type-taxonomy-term-reference select {
    height: 400px;
}

/* media editor styles */

.media-widget a {
    margin-rigth: 15px;
}

/* Dashboard */

.views-label-field-tags, .views-label-field-what-do-you-need-tags {
    font-weight: bold;
}

.views-field-field-what-do-you-need-tags, .views-field-field-tags {
    margin-top: 10px;
}

.view-content-and-tags-list .views-row {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

/* footer */

.footer {
    clear: both;
    padding: 1.875em 0;
    text-align: center;
    background: #454040;
    margin-top: 6.25em;
}

.footer p {
    color: #fff;
}

/* Media Queries */

@media all and (max-width: 767px) {
    .region-search-form, #block-menu-menu-ucsf-navigation ul li {
        display: none;
    }

    #block-menu-menu-ucsf-navigation ul li.first {
        display: inline;
        border-right: none;
    }

    .masthead {
        background: none;
        height: auto;
    }

    .subscribe-cont {
        display: none;
    }

    h1.sitename {
        padding: 10px 0;
    }

    .insight {
        margin-right: 50px;
    }

    .region-leftcol {
        display: none;
    }

    .toggle-menu {
        padding: 10px;
        background: #bdc163;
        display: block;
        border-bottom: 2px solid #fff;
    }

    .toggle-menu:hover {
        cursor: pointer;
    }
}

/* update blog */

.node-type-update-blog-page div.leftcol {
    display: none;
    //border: 1px solid red;
    
}
.page-apex-updates {
    table {
        border: 1px solid grey;
        width: 100%;
        border-collapse: collapse;
        td, th {
            border: 1px solid grey;
            font-size: 0.9em;
            padding: 8px;
            vertical-align: top;
        }
        th {
            background-color: #a8abd3;
            color: #fff;
            a {
                color: #fff;
            }
        }
        caption a {
            font-weight: bold;
        }
    }
    .views-field-field-what-do-you-need-tags {
        width: 15%;
    }

    .views-field-title {
        width: 60%;
    }

    .views-field-field-priority {
        text-align: center;
        width: 10%;
    }
    .views-field-field-tags {
        width: 15%;
    }

    div.leftcol, div.rightcol {
        display: none;
    }


    .notification_type a {
        background-color: #33787d;
        display: inline-block;
        border-radius: 4px;
        color: #fff;
        padding: 3px;
        font-size: 0.7em;
    }

    .views-exposed-widgets label {
        font-size: 0.7em;
    }

    .views-field-field-priority {
        span {
            background: none;
            background-size: contain;
            display: inline-block;
            width: 32px;
            height: 32px;
            text-indent: -999px;

        }
        .urgent-priority {
            background: transparent url(../images/urgent.png) top left no-repeat;
            background-size: contain;
        }
        .high-priority {
            background: transparent url(../images/warning.png) top left no-repeat;
            background-size: contain;
        }
        .for-your-information {
            background: transparent url(../images/faq-icon.png) top left no-repeat;
            background-size: contain;
        }
    }
}







/**
 * @file
 * Styles for menus and navigation markup.
 */

/**
 * Markup generated by theme_menu_tree().
 */
ul.menu {
    border: none;
    list-style: none;
    text-align: left; /* LTR */
}
ul.menu li {
    margin: 0 0 0 0.5em; /* LTR */
}
ul li.expanded {
    list-style-image: url(../../misc/menu-expanded.png);
    list-style-type: circle;
}
ul li.collapsed {
    list-style-image: url(../../misc/menu-collapsed.png); /* LTR */
    list-style-type: disc;
}
ul li.leaf {
    list-style-image: url(../../misc/menu-leaf.png);
    list-style-type: square;
}
li.expanded,
li.collapsed,
li.leaf {
    padding: 0.2em 0.5em 0 0; /* LTR */
    margin: 0;
}
li a.active {
    color: #000;
}
td.menu-disabled {
    background: #ccc;
}

/**
 * Markup generated by theme_links().
 */
ul.inline,
ul.links.inline {
    display: inline;
    padding-left: 0;
}
ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
}

/**
 * Markup generated by theme_breadcrumb().
 */
.breadcrumb {
    padding-bottom: 0.5em;
}

/**
 * Markup generated by theme_menu_local_tasks().
 */
ul.primary {
    border-bottom: 1px solid #bbb;
    border-collapse: collapse;
    height: auto;
    line-height: normal;
    list-style: none;
    margin: 5px;
    padding: 0 0 0 1em; /* LTR */
    white-space: nowrap;
}
ul.primary li {
    display: inline;
}
ul.primary li a {
    background-color: #ddd;
    border-color: #bbb;
    border-style: solid solid none solid;
    border-width: 1px;
    height: auto;
    margin-right: 0.5em; /* LTR */
    padding: 0 1em;
    text-decoration: none;
}
ul.primary li.active a {
    background-color: #fff;
    border: 1px solid #bbb;
    border-bottom: 1px solid #fff;
}
ul.primary li a:hover {
    background-color: #eee;
    border-color: #ccc;
    border-bottom-color: #eee;
}
ul.secondary {
    border-bottom: 1px solid #bbb;
    padding: 0.5em 1em;
    margin: 5px;
}
ul.secondary li {
    border-right: 1px solid #ccc; /* LTR */
    display: inline;
    padding: 0 1em;
}
ul.secondary a {
    padding: 0;
    text-decoration: none;
}
ul.secondary a.active {
    border-bottom: 4px solid #999;
}


.block-menu-block {

    ul.menu {
        font-size: 0;
        border: 1px solid #34666b;
        background-color: #33787d;
        @include linear-gradient('bottom',#54a4ad, #1e3b3e);
        list-style: none;
        margin: 0 0 0 0;
        li.leaf {
            list-style-type: none;
            list-style-image: none;
            margin: 0 0 0 0;
            font-size: 12px;
            display: inline-block;
            padding: 0;
            ul {
                display: none;
                font-size: 12px;
            }
            a {
                color: #fff;
                @include box-shadow(1px, 1px, 8px, #1e3b3e, inset);
                border: 1px solid #33787d;
                padding: 8px 12px;
                margin: 0 0;

            }
            a:hover {
                background-color: #6bd1d0;
            }
        }
    }
}