/* five star voting */

.field-name-field-five-star-vote {
    margin: 20px 0;
}


//set height for tags select list when editing

.field-type-taxonomy-term-reference select {
    height: 400px;
}

/* media editor styles */

.media-widget a {
    margin-rigth: 15px;
}

/* Dashboard */

.views-label-field-tags, .views-label-field-what-do-you-need-tags {
    font-weight: bold;
}

.views-field-field-what-do-you-need-tags, .views-field-field-tags {
    margin-top: 10px;
}

.view-content-and-tags-list .views-row {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

/* footer */

.footer {
    clear: both;
    padding: 1.875em 0;
    text-align: center;
    background: #454040;
    margin-top: 6.25em;
}

.footer p {
    color: #fff;
}

/* Media Queries */

@media all and (max-width: 767px) {
    .region-search-form, #block-menu-menu-ucsf-navigation ul li {
        display: none;
    }

    #block-menu-menu-ucsf-navigation ul li.first {
        display: inline;
        border-right: none;
    }

    .masthead {
        background: none;
        height: auto;
    }

    .subscribe-cont {
        display: none;
    }

    h1.sitename {
        padding: 10px 0;
    }

    .insight {
        margin-right: 50px;
    }

    .region-leftcol {
        display: none;
    }

    .toggle-menu {
        padding: 10px;
        background: #bdc163;
        display: block;
        border-bottom: 2px solid #fff;
    }

    .toggle-menu:hover {
        cursor: pointer;
    }
}

/* update blog */

.node-type-update-blog-page div.leftcol {
    display: none;
    //border: 1px solid red;
    
}
.page-provider-updates {
    table {
        border: 1px solid grey;
        width: 100%;
        border-collapse: collapse;
        td, th {
            border: 1px solid grey;
            font-size: 0.9em;
            padding: 8px;
            vertical-align: top;
        }
        th {
            background-color: #a8abd3;
            color: #fff;
            a {
                color: #fff;
            }
        }
        caption a {
            font-weight: bold;
        }
    }
    .views-field-field-what-do-you-need-tags {
        width: 15%;
    }

    .views-field-title {
        width: 60%;
    }

    .views-field-field-priority {
        text-align: center;
        width: 10%;
    }
    .views-field-field-tags {
        width: 15%;
    }

    div.leftcol, div.rightcol {
        display: none;
    }


    .notification_type a {
        background-color: #33787d;
        display: inline-block;
        border-radius: 4px;
        color: #fff;
        padding: 3px;
        font-size: 0.7em;
    }

    .views-exposed-widgets label {
        font-size: 0.7em;
    }

    .views-field-field-priority {
        span {
            background: none;
            background-size: contain;
            display: inline-block;
            width: 32px;
            height: 32px;
            text-indent: -2999px;

        }
        .urgent-priority {
            background: transparent url(../images/urgent.png) top left no-repeat;
            background-size: contain;
        }
        .high-priority {
            background: transparent url(../images/warning.png) top left no-repeat;
            background-size: contain;
        }
        .for-your-information {
            background: transparent url(../images/faq-icon.png) top left no-repeat;
            background-size: contain;
        }
    }
}


.block-menu-block {

    ul.menu {
        display: block;
        font-size: 0;
        border: 1px solid #34666b;
        background-color: #33787d;
        @include linear-gradient('bottom',#54a4ad, #1e3b3e);
        list-style: none;
        margin: 0 0 0 0;
        li.leaf {
            list-style-type: none;
            list-style-image: none;
            margin: 0 0 0 0;
            font-size: 12px;
            display: inline-block;
            padding: 0;
            ul {
                display: none;
                font-size: 12px;
            }
            a {
                color: #fff;
                @include box-shadow(1px, 1px, 8px, #1e3b3e, inset);
                border: 1px solid #33787d;
                padding: 8px 12px;
                margin: 0 0;
                display: inline-block;

            }
            a:hover {
                background-color: #6bd1d0;
            }
        }
    }
}